.pricing-container {
  min-height: 100vh;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    color: #989898;
  }

  .cards-container {
    width: 100%;
    max-width: 1000px;

    .ant-card-bordered {
      align-items: stretch;
      height: 100%;
    }
  }
}