.home-container {
  min-height: 100vh;
  padding: 24px;
  position: relative;

  p {
    color: #5d5d5d;
  }

  .description-container {
    margin-top: 80px;
    p {
      line-height: 2;
    }
  }
  .illustration-container {
    padding: 0 24px;
    text-align: start;
    margin-top: 80px;

    img {
      margin-top: 36px;
      width: 240px;
    }

    @media (max-width: 992px) {
      text-align: unset;
    }
  }

  .blob {
    position: absolute;
    bottom: 0;
    right: -300px;
    @media (max-width: 992px) {
      display: none;
    }
  }
  .circles {
    position: absolute;
    bottom: 100px;
    right: 500px;
    width: 400px;
    @media (max-width: 992px) {
      display: none;
    }
  }
}